[user]
	name = tokyo
	email = tokyo@users.noreply.github.com

[init]
	defaultBranch = main

[core]
	editor = vim
	autocrlf = input

[alias]
	st = status -sb
	co = checkout
	br = branch
	ci = commit
	lg = log --oneline --graph --decorate --all
	last = log -1 HEAD

[pull]
	rebase = true

[push]
	autoSetupRemote = true

[fetch]
	prune = true

[merge]
	conflictstyle = zdiff3

[rerere]
	enabled = true

[color]
	ui = auto
